<!doctype html>
<html ng-app="calendarApp">
<head>
  <link rel=stylesheet href="global.css">
</head>
<body>
  <div ng-controller="calendarController">

    <div class="calendar-search-container">
      <label>Start date:</label>
      <input type="text" ng-model="search.startDate" placeholder="Enter start date..."  ng-change="buildCalendar()">

      <label>Number of days:</label>
      <input type="number" ng-model="search.days" placeholder="Enter number of days" ng-change="buildCalendar()">

      <label>Country Code:</label>
      <input type="text" ng-model="search.countryCode" placeholder="Enter country code..."  ng-change="buildCalendar()">
    </div>

    <div class="calendar-widget-container">

      <div ng-repeat="widget in calendar" class="calendar-widget">

        <div class="calendar-month-header">
          <label>{{widget.monthHeader}}</label>
        </div>
        <div class="calendar-days-header" ng-repeat="header in widget.daysHeader">
        <span>{{header.label}}</label>
        </div>


      </div>

    </div>
  </div>

  <script src="angular.min.js"></script>
  <script src="calendar.js"></script>
</body>
</html>
